.navbar {
    padding: 1vh 0;
    height: 10vh;
    display: grid;
    grid-template-columns: 25% 60% 15%;
    place-items: center;
    border-bottom: 3px solid #ccc;
    
  }
  .navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar .logo img{
    width: auto;
    height: 7vh;
  }
  
  
  .navbar .sides {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
  }

  .navbar .sides div {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  @keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
  }
  .navbar .logo h1 {
      position: relative;
      margin: 0px;
      font-family: "Old Standard TT";
      flex-wrap: nowrap;
      font-size: 45px;
      color: rgb(49, 64, 26);
      text-shadow: 2px 2px 8px rgba(49, 64, 26, 0.644);
  }
  
  .navbar .social-icons {
    display: flex;
    gap: 20px; /* Espacio entre los iconos */
  }
  
  .navbar .social-icons i {
    font-size: 30px; /* Ajusta el tamaño de los iconos */
    transition: transform 0.3s ease;
  }
  
  .navbar .social-icons i:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
  }

  .display{
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5vh;
  }

  /*MEDIA QUERIES*/


  @media (width < 470px) {
    body {
      min-width: 320px; 
    }
  
    .navbar {
      padding: 1rem 0;
      height: auto;
      grid-template-columns: 1fr;
      border-bottom: 2px solid #ccc;
    }
    
    .navbar .logo h1 {
      font-size: 1.5rem; 
      text-align: center;
    }
  
    .navbar .logo img {
      height: 4vh; 
    }
  
    .navbar .sides {
      display: none;
      flex-direction: column; 
      justify-content: center;
      gap: 8px; 
    }
  
    .navbar .social-icons {
      justify-content: center; /* Centra los iconos sociales */
      gap: 10px; /* Reduce el espacio entre los iconos sociales */
    }
  
    .navbar .social-icons i {
      font-size: 20px; /* Reduce el tamaño de los iconos */
    }
  
    .display {
      flex-direction: column; /* Apila los elementos de display en una columna */
      align-items: center;
      padding: 1rem; /* Reduce el padding para dispositivos móviles */
    }
  }
  

  @media (470px < width < 768px) {
    .navbar {
      grid-template-columns: 1fr; 
      border-bottom: 2px solid #ccc;
    }
    
    .navbar .logo {
      justify-content: center; /* Centra el logo */
    }
  
    .navbar .logo h1 {
      font-size: 1.8rem; /* Ajusta el tamaño de la fuente del título */
      text-align: center; /* Centra el texto */
    }
  
    .navbar .logo img {
      height: 5vh; /* Ajusta la altura de la imagen del logo */
    }
  
    .navbar .sides {
      justify-content: center; /* Centra los elementos en la fila */
      gap: 10px; /* Reduce el espacio entre los iconos */
    }
  
    .navbar .social-icons {
      justify-content: center; /* Centra los iconos sociales */
      gap: 15px; /* Ajusta el espacio entre los iconos sociales */
    }
  
    .navbar .social-icons i {
      font-size: 24px; /* Reduce el tamaño de los iconos */
    }
  
    .display {
      flex-direction: column; /* Apila los elementos de display en una columna */
      align-items: center;
      padding: 1rem; /* Reduce el padding para dispositivos móviles */
    }
  }
  
  
  @media (768px < width < 1400px) {
    #root {
      width: 100%;
    }
    .navbar {
      height: 10vh;
    }
    .navbar h1 {
      font-size: 2.2rem;
    }
    .body-bg {
      height: 90vh;
    }
  }
  

