.navbar {
    padding: 1vh 0;
    height: 10vh;
    display: grid;
    grid-template-columns: 25% 60% 15%;
    place-items: center;
    border-bottom: 3px solid #ccc;
    
  }
  .navbar .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navbar .logo img{
    width: auto;
    height: 7vh;
  }
  
  
  .navbar .sides {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3vw;
  }

  .navbar .sides div {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  @keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
  }
  .navbar .logo h1 {
      position: relative;
      margin: 0px;
      font-family: "Poppins", sans-serif;
      flex-wrap: nowrap;
      font-size: 45px;
      color: rgb(49, 64, 26);
      text-shadow: 2px 2px 8px rgba(49, 64, 26, 0.644);
  }
  
  .navbar .social-icons {
    display: flex;
    gap: 20px; /* Espacio entre los iconos */
  }
  
  .navbar .social-icons i {
    font-size: 30px; /* Ajusta el tamaño de los iconos */
    transition: transform 0.3s ease;
  }
  
  .navbar .social-icons i:hover {
    transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
  }

  .display{
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5vh;
  }

  .hamburger-menu {
    font-size: 24px; /* Ajusta el tamaño del ícono */
    cursor: pointer; /* Cambia el cursor cuando pasas el ratón sobre el ícono */
    color: #000; /* Color del ícono */
    display: none;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
  }
  
  .hamburger-menu .fa-bars.active {
    color: green; /* Color del ícono cuando está activo */
    transform: rotate(90deg); /* Rota el ícono cuando está activo (opcional) */
    transition: transform 0.3s ease;
  }
  

  /*MEDIA QUERIES*/


  @media (width < 470px) {
    body {
      min-width: 320px; 
    }
  
    .navbar {
      z-index: 100;
      padding: 3.5vh 2rem;
      height: auto;
      display: flex;
      justify-content: space-between;
    }
    
    .navbar .logo h1 {
      font-size: 1.5rem; 
      text-align: center;
    }
  
    .navbar .logo img {
      height: 4vh; 
    }
  
    .navbar .sides {
      display: none;
      flex-direction: column; 
      justify-content: center;
      gap: 8px; 
    }
  
    .navbar .social-icons {
      justify-content: center; /* Centra los iconos sociales */
      gap: 10px; /* Reduce el espacio entre los iconos sociales */
    }
  
    .navbar .social-icons i {
      font-size: 20px; /* Reduce el tamaño de los iconos */
    }
  
    .display {
      flex-direction: column; /* Apila los elementos de display en una columna */
      align-items: center;
      padding: 1rem; /* Reduce el padding para dispositivos móviles */
    }
    .hamburger-menu {
      font-size: 24px; /* Ajusta el tamaño del ícono */
      cursor: pointer; /* Cambia el cursor cuando pasas el ratón sobre el ícono */
      color: #000; /* Color del ícono */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
    }
    .nav-buttons-bars{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      right: 0;
      z-index: 99;
      position: absolute;
      top: 7.5vh;
      max-width: 200px;
      height: 50vh;

      background-color: #dedede;
    }
  }
  
  
  
  @media (470px < width < 1400px) {
    .navbar {
      width: 100%;
      z-index: 100;
      padding: 1rem 0;
      height: 6vh;
      display: flex;
      justify-content: space-between;
    }
    .navbar .logo{
      margin-left: 5vw;
    }
    .navbar .logo h1 {

      font-size: 2.2rem; 
      text-align: center;
    }
  
    .navbar .logo img {
      height: 5vh; 
    }
  
    .navbar .sides {
      display: none;
    }
  
    .navbar .social-icons {

      justify-content: center; 
      gap: 40px; 
    }
  
    .navbar .social-icons i {
      font-size: 35px; 
    }
    .hamburger-menu {
      margin-right: 5vw;
      font-size: 35px;  
      cursor: pointer; 
      color: #000; 
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
    }
    .nav-buttons-bars{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      right: 0;
      z-index: 99;
      position: absolute;
      top: 7.5vh;
      width: 400px;
      height: 50vh;
      border-radius: 0 0 0 30px;
      background-color: #dedede;
    }
    .nav-buttons-bars .nav-btn{
      font-size: 24px;  
      font-weight: 600;
    }
  
  }
  

