

.objetivos h1{
  margin: 5vh 0;
  padding: 10px 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10vh;
  border-bottom: 3px solid #ccc;
  background-color: #ffffffd1;
}



.objetivos  .container .content h2 {
    height: 8vh;
    width: 9vh;
    padding: 1vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.objetivos .container .content{
    display: grid;
    grid-template-rows:repeat(2, 15%) 20% 30% 15%;

    
}
.objetivos .container .content div{
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  text-align: justify;
  gap: 20px;
  
}
.objetivos .container .content div p{

  text-align: start;

  
}

.objetivos .container{
  height: 70%;
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 20px;
  margin-bottom: 5vh;
  margin-left: 10vh;
}

.container .flor-div{
    width: 100%;
    height: 100%;
}

.container .flor-div {
    position: relative;
}

.container .flor-div img {
    max-width: 75%; 
    min-height: 100%;
    height: auto;
    border-radius: 0 60% 0 0 / 0% 40% 0 0;
    object-fit: cover; 
    object-position: center; 
}


@media (width < 470px) {
  .objetivos {
    margin-top: 50px;
    
  }
  .container .flor-div {
    display: none; 
  }

  .objetivos .container {
    grid-template-columns: 1fr; 
    margin-left: 0; /* Elimina el margen izquierdo para centrar el contenido */
  }
  
  .objetivos h1 {
    margin: 0; /* Elimina el margen superior e inferior */
    padding: 4vh 0; 
    text-align: center; /* Centra el título para mejor alineación en móvil */
  }
  .objetivos .container .content div{
    gap: 20px;
  }

  .objetivos .container .content {
    margin-left: 10px; margin-right: 20px;
    grid-template-rows: repeat(4, 1fr); 
    gap: 10px; 
  }
}
