
.que-son{
    width: 100vw;
    background-color: #94e0a136;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show {
    from {
      opacity: 0; 
    }
    to {
      opacity: 1;
    } 
  }

.letter {
    display: inline-block;
    opacity: 0;
    background-color: transparent;
    color: inherit;
    animation: fadeIn 1s ease-in-out forwards;
  }
.que-son .navbar{
    padding: 1vh 0;

    background-color: #147d25c5;
    border-bottom: 3px solid #35994657;
}
.que-son .navbar h1{
    display: flex;
    color: rgb(240, 255, 240);
    border-bottom: none;
}
.que-son .navbar a{
    color: rgb(240, 255, 240);
    border-bottom: none;
}

.que-son h1{
    margin-top: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10vh;
    border-bottom: 3px solid #35994657;

}
.que-son .presentation p{
    animation: fadeIn 1s ease-in-out forwards;
}

.que-son h3{
    color: #0d4e2f;
    font-size: 1.8em;
    border-bottom: 1px solid #080808;
}
.que-son h4{
    color: #0d4e2f;
    font-size: 1.5em;
    border-bottom: 1px solid #0d4e2f;
}
.que-son .explanation h3, .que-son .symptoms h3{
    display: flex;
    justify-content: center;
    width: 100%;
}



/*
 PRESENTACION
 */

.que-son .presentation{
    margin: 0 10vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;


}


.que-son .presentation .content{
    max-width: 70%;
    text-align: justify;
}






/* 
PARTE DE QUE SON 
*/

.que-son .explanation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 5vh 10vh;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
    
}
.que-son .explanation .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;

}
.que-son .explanation .content .layout{
    display: grid;
    grid-template-columns: 48% 50%;
    gap: 2%;
    justify-content: center;
    text-align: justify;
}
.que-son .explanation .content .layout p{
    place-self: start;
    width: 100%;
    height: auto;
}


.que-son .explanation .content .layout img{
    
    place-self: start;
    width: 90%;
    height: auto;
}
.que-son .explanation .content .layout h3{
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(92, 89, 89, 0.303);
    font-weight: 500;
    border-bottom: none;

}




/*
SINTOMATOLOGÍA
*/
.que-son .symptoms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10vh;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}   
  
.que-son .symptoms .content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 80%; 
    max-width: 1200px;
    gap: 5vh;
}
.que-son .symptoms .content .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 50%;
}


/*
 CAUSAS
*/
.causas{
    display: flex;
    flex-direction: column;

    margin: 0 10vh;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}

.causas .content{

    width: 80%; 
    max-width: 1200px; 
    margin: 10px auto;
    text-align: justify;
    gap: 5vh;
}

/*
DIAGNOSTICO
*/

.diagnosis{
    display: flex;
    flex-direction: column;
    margin: 0 10vh;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
.diagnosis .content{
    margin: 5vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.diagnosis .content h3{
    text-align: center;
    font-size: 1.5em;
    border-bottom: none;
}

/* Agrupa estilos comunes para los párrafos dentro de .circle */
.display0 .circle p,
.display1 .circle p,
.display2 .circle p,
.display3 .circle p {
    animation: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -51%);
    display: none;
}

/* Agrupa estilos comunes para los contenedores .displayX */
.display0, .display1, .display2, .display3 {
    position: relative;
}

.display0 .circle, 
.display1 .circle, 
.display2 .circle, 
.display3 .circle {
    position: relative;
    display: inline-block;
}

/* Estilos comunes para el hover en los contenedores .displayX */
.display0:hover p,
.display1:hover p,
.display2:hover p,
.display3:hover p {
    display: flex;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    z-index: 10;
    width: 100%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.163);
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
}


/* 
ESPECIALISTAS 
*/
.especialistas{
    margin: 0 10vh;
}
.especialistas p{
    margin: 5vh 0;
    width: 85%;
    max-width: 1300px;
}
.especialistas .content{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.especialistas .container{
    width: 85%;
    max-width: 1300px;
    view-timeline-name: --reveal;
    animation-name: show;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
}
.especialistas .container h4{
    text-align: start;
    font-size: 1.5em;

}
.especialistas .container .card{
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin: 5vh 0;
}
.especialistas .container .card img{
    height: auto;
    max-height: 300px;
    max-width: 50%;
}

