/*  saber mas */
.saber-mas {
    display: flex;
    place-items: center;
    height: 100vh;
    width: 100vw;
  }
  .saber-mas .content {
    margin: 0 10vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    place-items: center;
  }
  
  .saber-mas .girasol img {
    max-width: 80%;
    border-top-left-radius: 50% 40%;
    border-top-right-radius: 50% 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .saber-mas h1,
  .saber-mas .donde p {
    margin: 10px 0;
  }
  

  @media (768px < width < 1400px) {
    .saber-mas {
      height: auto;
      width: 60%;
      margin: 10vh auto; 
      right: 0;
      left: 0;
      top: 0;
    }
  
    .saber-mas .content {
      grid-template-columns: 1fr; 
      margin: 0 10px; 
      gap: 30px; 
    }
    .saber-mas .content .quienes-somos{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; 
    }
    .saber-mas .content .quienes-somos button{
      max-width: fit-content;
    }
  
    .saber-mas .girasol img {
      max-width: 70%; 

    }
  
    .saber-mas h1 {
      font-size: 2.5rem; 
      text-align: center; 
    }
  
    .saber-mas p {
      font-size: 1.8rem;
      text-align: center; 
    }
  }

  @media (470px < width < 768px) {
  .saber-mas {
    height: auto;
    margin: 10vh 0; 
  }

  .saber-mas .content {
    grid-template-columns: 1fr; 
    margin: 0 10px; 
    gap: 15px; 
  }

  .saber-mas .girasol img {
    max-width: 70%; 
    margin-bottom: 15px; 
  }

  .saber-mas h1 {
    font-size: 2rem; 
    text-align: center; 
  }

  .saber-mas .donde p {
    text-align: center; 
  }
}

/* Para pantallas menores a 470px */
@media (width < 470px) {
  .saber-mas {
    height: auto;
    margin: 10vh 0; 
  }

  .saber-mas .content {
    grid-template-columns: 1fr; 
    margin: 0 10px; 
    gap: 15px; 
  }

  .saber-mas .girasol img {
    max-width: 70%; 
    margin-bottom: 15px; 
  }

  .saber-mas h1 {
    font-size: 2rem; 
    text-align: center; 
  }

  .saber-mas .donde p {
    text-align: center; 
  }
}
